<div class="bottom-block">
		<div class="container p-0">
			<div class="row m-0">
				<div class="col-md-4 col-sm-4 col-xs-12 p-0">
					<div class="feature-b">
						<div class="heading">
							<h4>Feature Products</h4><hr>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000034.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000031.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000051.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="feature-b">
						<div class="heading">
							<h4>Top selling Products</h4><hr>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000028.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000055.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000040.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 p-0">
					<div class="feature-b">
						<div class="heading">
							<h4>Accesories</h4><hr>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000040.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000059.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="each-b">
							<div class="d-flex justify-content-start row m-0">
								<div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
									<a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000036.jpg" alt=""></a>
								</div>
								<div class="second-b col-md-7 col-sm-7 col-xs-12 p-0">
									<div class="d-flex flex-column">
										<a href="/">
										<div class="p-2">
											ontec e headset
										</div>
										</a>
										<div class="d-flex flex-row p-2">
											<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
										</div>
										<div class="p-2">
											175.00
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>