<div class="bottom-block">
    <div class="container p-0">
        <div class="row m-0">
            <div class="col-md-4 col-sm-4 col-xs-12 p-0"> 
                <div class="feature-b">
                    <div class="heading">
                        <h4>Feature Products</h4>
                        <hr>
                    </div>

                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/3jnjzz9u3232/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000034.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0" >
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">Samsung Galaxy S10 plus – 512 GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000031.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">iPHONE 11PRO 256GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/398ofmql3215/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000051.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">iPhone 7 – 32GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-b">
                    <div class="heading">
                        <h4>Top selling Products</h4>
                        <hr>
                    </div>

                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                                <a href="http://13.232.26.24:8000/detail/iphone-11-128gb/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000028.jpg"
                                        alt=""></a>


                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                   
                                        <a href="/">
                                        <div class="p-2">iPhone 11 128GB</div>
                                    </a>
                                  

                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/3f1l3s3og3221/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000055.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">OPPO Reno – 8GB/128GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/3i1q7nvsr3220/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000040.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">Redmi K20 – 6GB/64GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-b">
                    <div class="heading">
                        <h4>Accesories</h4>
                        <hr>
                    </div>

                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/3i1q7nvsr3220/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000040.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">Redmi K20 – 6GB/64GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000059.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="http://13.232.26.24:8000/detail/3fw4uwiu3220/">
                                        <div class="p-2">OPPO F11 – 6GB/128GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="each-b">
                        <div class="d-flex justify-content-start row m-0">
                            <div class="first-b col-md-5 col-sm-5 col-xs-12 p-0">
                               <a href="http://13.232.26.24:8000/detail/3f1jqca7j3222/"><img src="http://13.232.26.24:8000/images/small/B20191023T000000036.jpg"
                                        alt=""></a>

                            </div>
                            <div class="second-b  col-md-7 col-sm-7 col-xs-12 p-0">
                                <div class="d-flex flex-column">
                                    <a href="/">
                                        <div class="p-2">OnePlus 7T – 8GB/256GB</div>
                                    </a>
                                    <div class="d-flex flex-row p-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>


                                    <div class="p-2">175.00</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>