<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Shopsasta">
    <meta name="author" content="Shopsasta">
    <title>shopsasta.com - Community Group Buying</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="/vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- Select2 CSS -->
    <link href="/vendor/select2/css/select2-bootstrap.css" />
    <link href="/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/osahan.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.css">

    <style>
        ul {
            font-weight: 600;
            color: #000;
        }

        .order-info-b .order-info {
            width: 50%;
        }

        .order-detail {
            text-align: center;
        }

        .order-detail span {
            font-size: 14px;
            font-weight: 500;
        }

        .order-detail span a {
            color: #4b9c98;
        }

        .cod-details-b {
            margin-bottom: 1rem;
        }

        .account-right {
            height: fit-content !important;
            min-height: fit-content !important;
        }
    </style>
</head>

<body>

    <div class="header">
        @{view('~partials/header')}
    </div>
    <section class=" bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 breadcum">
                    <a href="/"><strong><span class="mdi mdi-home"></span> Home</strong></a> <span
                        class="mdi mdi-chevron-right"></span> <a href="#">Order Status</a>
                </div>
            </div>
        </div>
    </section>
    <section class="account-page section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-body account-right">
                        <div class="widget">
                            <div class="section-header text-center">
                                <h5 class="heading-design-h5">
                                    <strong>Thank you for ordering</strong>
                                </h5>
                            </div>
                            <div class="order-detail cod-details"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="footer">
        @{view('~partials/footer')}
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- select2 Js -->
    <script src="/vendor/select2/js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/vendor/owl-carousel/owl.carousel.js"></script>
    <!-- Custom -->
    <script src="/js/custom.js"></script>
    <script src="/js/main.js?v=v1.5"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            let tempObj = JSON.parse(localStorage.getItem('codObj'));
            for (let i = 0; i < tempObj.orderIds.length; i++) {
                const element = tempObj.orderIds[i];
                if (element.deliveredBy == 'shop-sasta') {
                    element.deliveredBy = 'shopsasta';
                }
                $('.cod-details').append(`
                <div class="cod-details-b">
                <span class="heading-design-h5">
                                    Order No : 
                                    <span class="orderNo"><a href="/order-detail/${element.id}"> <strong>${element.number}</strong>,</strong></a></span>

                                </span>
                                <br>
                                <span class="heading-design-h5">Amount : <strong class="cod-amt price-format">${element.amount}</strong></span>
                                <br>
                                <span class="heading-design-h5">Delivered By : <strong class="cod-deliveredBy">${element.deliveredBy}</strong></span>
                                <br>
                                </div>
                `);

            }

        });
    </script>
</body>

</html>