<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
       

        .sasta-title {
            width: 100%;
            background-color: #efefef;
            
            text-align: center;
            padding: .2rem;
            font-weight: 600;
            font-size: 21px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <span class="sasta-title">Shop Sasta</span>
        </div>
     
        <div class="orders-list mt-4">
            <div class="each-order pb-2" >
                
            </div>
        </div>
    </div>
   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/delivery.js?v=v1.1"></script>
</body>

</html>