<style>
   .footer-title {
      font-weight: 600;
      color:  #029b97;
      margin-bottom: 0.5rem !important;
   }
   .footer-ul a {
      font-weight: 600;
   }
   .feature-box i{
      height: 60px;
      width: 25% !important;
   }
   .feature-box img {
      width: 40px;
      margin-right: 10px;
   }
   .feature-box d-g{
      height: 60px;
      width: 75% !important;
   }
</style>
<section class="section-padding bg-white border-top">
   <div class="container">
      <h4 style="font-weight: 700;" class="mb-2">Why choose shopsasta?</h4>
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <div class="feature-box d-flex align-items-center">
               <img src="/img/community.png" alt="">
               <div class="d-g">
                  <h6 style="font-weight: 600;">Community Buying</h6>
                  <p>Cashback on your orders when everyone in your community buys more</p>
               </div>
             
            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="feature-box d-flex align-items-center">
               <img src="/img/truck.png" alt="">
               <div class="d-g">
               <h6 style="font-weight: 600;">No-Rush Delivery</h6>
               <p>You will get extra cashback when you select this during checkout</p>
               </div>
            </div>
            
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="feature-box d-flex align-items-center">
               <img src="/img/calendar.png" alt="">
               <div class="d-g">
               <h6 style="font-weight: 600;">Special Events</h6>
               <p>You will earn extra cashback during special events</p>
               </div>

            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="feature-box d-flex align-items-center">
               <img src="/img/referral.png" alt="">
               <div class="d-g">
               <h6 style="font-weight: 600;">Referrals</h6>
               <p>Cashback when you refer your friends & family</p>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</section>
<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-1 footer-title">Shopsasta</h6>
            <ul class="footer-ul"> 
               <li><a href="/pages/how-it-works/">How it Works?</a></li>
             
               <li>
                  <a href="/pages/delivery-coverage/">Delivery Coverage</a>
               </li>
              
               <li>
                  <a href="/pages/terms-and-conditions/">Terms & Conditions</a>
               </li>
               <li>
                  <a href="/pages/vendor/">Vendor Resources</a>
               </li>
               <li>
                  <a href="/pages/about-us/">About Us</a>
               </li>
               <li>
                  <a href="/pages/privacy-policy/">Privacy Policy</a>
               </li>
               
            </ul>
         </div>
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-1 footer-title">Customer Service</h6>
            <ul class="footer-ul"> 
               <li><a href="/support">Support</a></li>
               <li>
                  <a href="/faq/">Faq</a>
               </li>
               <li>
                  <a href="/pages/return-refund/">Returns & Refunds</a>
               </li>
               <li>
                  <a href="/pages/cancellation-policy/">Cancellation Policy</a>
               </li>
               
               
            </ul>
         </div>
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-1 footer-title">Social Networks</h6>
            <ul class="footer-ul"> 
               <li><a target="_blank" href="https://www.facebook.com/shopsastadotcom">Facebook</a></li>
               <li>
                  <a target="_blank" href="https://www.instagram.com/shopsastadotcom/">Instagram</a>
               </li>
               <li>
                  <a target="_blank" href="https://www.youtube.com/channel/UC0PnYHQ1MWSTGdMCNCR23HA">Youtube</a>
               </li>

            </ul>
         </div>
        
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-1 footer-title">Download App</h6>
            <div class="app">
               <a target="_blank" href="https://play.google.com/store/apps/details?id=com.shopsasta.app"><img src="/img/google.png" alt=""></a>
               <a target="_blank" href="https://apps.apple.com/in/app/shopsasta/id1561768165"><img src="/img/apple.png" alt=""></a>
            </div>
           
         </div>
      </div>
      <p class="mt-1 mb-0" style="font-weight: 800; text-align:center;">&copy; Copyright 2020 <strong class="text-dark">ShopSasta</strong>. All Rights
         Reserved<br>
         </small>
      </p>
   </div>
</section>
<!-- End Footer -->