<!-- <div class="container p-0" style="width: 90%;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" id="first-tab" href="#feature">FEATURE PRODUCTS</a></li>
        <li><a data-toggle="tab" href="#latest">LATEST PRODUCTS</a></li>
        <li><a data-toggle="tab" href="#onsale">ON SALE PRODUCTS</a></li>

    </ul>

    <div class="tab-content">
        <div id="feature" class="tab-pane fade in active">
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000031.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">iPHONE 11PRO 256GB</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000042.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">SAMSUNG GALAXY TAB S3</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000057.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">OPPO F11 PRO</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000046.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/"> SAMSUNG GALAXY TAB
                            A(2017)</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="latest" class="tab-pane fade">
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000042.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">SAMSUNG GALAXY TAB S3</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000031.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">iPHONE 11PRO 256GB</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000046.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/"> SAMSUNG GALAXY TAB
                            A(2017)</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000057.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">OPPO F11 PRO</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="onsale" class="tab-pane fade">
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000046.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-a-2017/"> SAMSUNG GALAXY TAB
                            A(2017)</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000042.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/samsung-galaxy-tab-s3/">SAMSUNG GALAXY TAB S3</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000057.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/3f15hn5v3224/">OPPO F11 PRO</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 each-b p-l">
                <div class="d-flex flex-row">
                    <div class="left flex-grow-1">
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">
                            <img src="http://13.232.26.24:8000/images/small/B20191023T000000031.jpg" alt="">
                        </a>
                        <h5>Headphones</h5>
                        <a href="http://13.232.26.24:8000/detail/iphone-11pro-256gb/">iPHONE 11PRO 256GB</a>
                        <div class="d-flex flex-row p-2 rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="cart-b d-flex justify-content-between align-items-center">
                            <h5>&#8377 200.00</h5>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="vl"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#first-tab').click();
    });
</script> -->