<div class="prod-i">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>GENERAL</p>
                        <!-- @{model.product_type} -->
                    </div>

                    <div class="collapse show" id="collapseExample">
                        <div class="spec-body">
                            @{if model.network}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-l-0 p-r-0 left-a">
                                    <span>Network</span>
                                </div>
                                <div class="col-md-9 col-xs-8 right-a">
                                    <span>@{model.network}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.sim}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-l-0 left-a">
                                    <span>SIM</span>
                                </div>
                                <div class="col-md-9 col-xs-8 right-a">
                                    <span>@{model.sim}</span>
                                </div>
                            </div>
                            @{fi}

                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#body-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>BODY</p>
                    </div>

                    <div class="collapse show" id="body-collapse">
                        <div class="spec-body">
                            @{if model.dimensions}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Dimensions</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.dimensions}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.weight}

                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Weight</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.weight}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>DISPLAY</p>
                    </div>

                    <div class="collapse show" id="display-collapse">
                        <div class="spec-body">
                            @{if model.displaytype}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Type</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.displaytype}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.displaysize}

                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Size</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.displaysize}</span>
                                </div>
                            </div>
                            @{fi}

                            
                            @{if model.multitouch}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Multitouch</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.multitouch}</span>
                                </div>
                            </div>
                            @{fi}

                        
                            @{if model.protection}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Protection</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.protection}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#sound-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>SOUND</p>
                    </div>

                    <div class="collapse show" id="sound-collapse">
                        <div class="spec-body">
                            @{if model.alerttypes}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Alert Types</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.alerttypes}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.loudspeaker}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Loudspeaker</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.loudspeaker}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#memory-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>MEMORY</p>
                    </div>

                    <div class="collapse show" id="memory-collapse">
                        <div class="spec-body">
                            @{if model.internal}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Internal</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.internal}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.cardslot}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Card Slot</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.cardslot}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#data-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>DATA</p>
                    </div>

                    <div class="collapse show" id="data-collapse">
                        <div class="spec-body">
                            @{if model.gprs}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>GPRS</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.gprs}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.edge}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>EDGE</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.edge}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.speed}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Speed</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.speed}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.wlan}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>WLAN</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.wlan}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.bluetooth}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Bluetooth</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.bluetooth}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.nfc}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>NFC</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.nfc}</span>
                                </div>
                            </div>
                            @{fi}

                            @{if model.usb}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>USB</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.usb}</span>
                                </div>
                            </div>
                            @{fi}

                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#camera-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>CAMERA</p>
                    </div>

                    <div class="collapse show" id="camera-collapse">
                        <div class="spec-body">
                            @{if model.primary}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Primary</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.primary}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.features}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Features</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.features}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.video}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Video</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.video}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.secondary}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Secondary</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.secondary}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#features-collapse" role="button" aria-expanded="true"
                        aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>FEATURES</p>
                    </div>

                    <div class="collapse show" id="features-collapse">
                        <div class="spec-body">
                            @{if model.os}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>OS</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.os}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.chipset}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Chipset</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.chipset}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.cpu}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>CPU</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.cpu}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.gpu}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>GPU</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.gpu}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.sensors}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Sensors</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.sensors}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.messaging}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Messaging</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.messaging}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.browser}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Browser</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.browser}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.gps}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>GPS</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.gps}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.others}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Others</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.others}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.games}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Games</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.games}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>

                <div class="each-spec ">
                    <div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
                        href="#battery-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                        <p>BATTERY</p>
                    </div>

                    <div class="collapse show" id="battery-collapse">
                        <div class="spec-body">
                            @{if model.BatteryType}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Type</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.BatteryType}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.standby}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Stand-By</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.standby}</span>
                                </div>
                            </div>
                            @{fi}
                            @{if model.talktime}
                            <div class="row m-0">
                                <div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
                                    <span>Talk-Time</span>
                                </div>
                                <div class="col-md-9 right-a col-xs-8">
                                    <span>@{model.talktime}</span>
                                </div>
                            </div>
                            @{fi}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>