<div class="prod-i">
		<div class="container">
			<div class="row m-0">
				<div class="col-md-12">
					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p>SmartGeneral</p>
							<!-- @{model.product_type} -->
						</div>

						<div class="collapse show" id="collapseExample">
							<div class="spec-body">
								@{if model.smartModelname}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 p-r-0 left-a">
										<span> Model Name</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.SmartGeneral}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartcolor}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Color</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartcolor}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartos}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Operating System</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartos}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartpack}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Sales Package</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartpack}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartconnect}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Connectivity</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartconnect}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartwired}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Wired</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartwired}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartwirless}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Wireless</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartwirless}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartmaterial}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Material</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartmaterial}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartideal}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Ideal For</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartideal}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartdail}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Dial Shape</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartdail}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartdevice}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Compatible Devices</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartdevice}</span>
									</div>
								</div>
								@{fi}

								@{if model.smarttouch}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Touch Enabled</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smarttouch}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartsuit}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Suitable For</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartsuit}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartindicate}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Indicator Type</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartindicate}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartread}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Reading Type</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smartread}</span>
									</div>
								</div>
								@{fi}

								@{if model.smarttype}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-l-0 left-a">
										<span>Type</span>
									</div>
									<div class="col-md-9 col-xs-8 right-a">
										<span>@{model.smarttype}</span>
									</div>
								</div>
								@{fi}

							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p>Product Details</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smartwi}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Wi-Fi Connectivity</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartwi}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartadd}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Additional Features</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartadd}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartother}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Other Features</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartother}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartwater}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Water Resistant</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartwater}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartsweat}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Compatible Devices</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartsweat}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartblue}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Bluetooth Connectivity</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartblue}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> PERFORMANCE FEATURES</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smarttracker}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Activity Tracker Present</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smarttracker}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartfunc}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Activity Tracking Function</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartfunc}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartsensor}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Sensor Type</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartsensor}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartrate}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Heart Rate Monitor Present</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartrate}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartresist}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Water-Resistant Depth</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartresist}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartshock}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Shock Resistant</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartshock}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> DISPLAY</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smartty}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Type</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartty}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartmulti}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Multitouch</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartmulti}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> CONNECTIVITY FEATURES</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smartwire}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Wireless Type</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartwire}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartbluetooth}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Bluetooth Version</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartbluetooth}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartbluerange}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Bluetooth Range</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartbluerange}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartbat}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Battery</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartbat}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartbatlife}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Battery Life</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartbatlife}</span>
									</div>
								</div>
								@{fi}

							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> DIMENSIONS</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smartweight}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Weight</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartweight}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartwidth}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Width</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartwidth}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartheight}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Height</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartheight}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartdepth}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Depth</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartdepth}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartdimension}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Other Dimensions</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartdimension}</span>
									</div>
								</div>
								@{fi}

							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> FEATURES</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smarthigh}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Highlights</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smarthigh}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartmessage}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Messaging</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartmessage}</span>
									</div>
								</div>
								@{fi}

								@{if model.smartother}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Others</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartother}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> BATTERY</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smarttyp}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Type</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smarttyp}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartstand}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Stand-by</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartstand}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

					<div class="each-spec ">
						<div class="spec-heading d-flex justify-content-start" data-toggle="collapse"
							href="#display-collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-minus-square-o" aria-hidden="true"></i>
							<p> WARRANTY</p>
						</div>

						<div class="collapse show" id="display-collapse">
							<div class="spec-body">
								@{if model.smartwarranty}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Warranty Summary</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartwarranty}</span>
									</div>
								</div>
								@{fi}
								@{if model.smartnowarranty}
								<div class="row m-0">
									<div class="col-md-3 col-xs-4 p-r-0 p-l-0 left-a">
										<span>Not Covered in Warranty</span>
									</div>
									<div class="col-md-9 right-a col-xs-8">
										<span>@{model.smartnowarranty}</span>
									</div>
								</div>
								@{fi}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>