<div class="mobile-view mob-view">
    <p onclick="showFilter()" class="save-text"
    style="font-size: 14px;font-weight: 600;background-color: #fb9013;padding: 3px;text-align: center;border-radius: 8px;color: #fff;cursor: pointer;">
    View Filter</p>
    <p onclick="showFilter()" class="close-text"
    style="font-size: 14px;font-weight: 600;background-color: #fb9013;padding: 3px;text-align: center;border-radius: 8px;color: #fff;cursor: pointer;">
    Close Filter</p>
</div>
<div  class="filter-list">

    <div class="each-filter brand-filter">
        <p class="filter-heading">Brand</p>

        <div class="checkbox">
            <label><input type="checkbox" value="Syska" id='Syska' class="filter" name="hBrand">Syska</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Zebronics" id='Zebronics' class="filter"
                    name="hBrand">Zebronics</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Boat" id='Boat' class="filter" name="hBrand">Boat</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Mi" id='Mi' class="filter" name="hBrand">Mi</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Inbase" id='Inbase' class="filter" name="hBrand">Inbase</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Anker" id='Anker' class="filter" name="hBrand">Anker</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Sony" id='Sony' class="filter" name="hBrand">Sony</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Samsung" id='Samsung' class="filter" name="hBrand">Samsung</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Jbl" id='Jbl' class="filter" name="hBrand">Jbl</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Skullcandy" id='Skullcandy' class="filter"
                    name="hBrand">Skullcandy</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Sennheiser" id='Sennheiser' class="filter"
                    name="hBrand">Sennheiser</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Apple" id='Apple' class="filter" name="hBrand">Apple</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="IBall" id='IBall' class="filter" name="hBrand">IBall</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Arrow" id='Arrow' class="filter" name="hBrand">Arrow</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Gizmore" id='Gizmore' class="filter" name="hBrand">Gizmore</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Fingers" id='Fingers' class="filter" name="hBrand">Fingers</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Conekt" id='Conekt' class="filter" name="hBrand">Conekt</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Ambrane" id='Ambrane' class="filter" name="hBrand">Ambrane</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Oraimo" id='Oraimo' class="filter" name="hBrand">Oraimo</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="U-flex" id='U-flex' class="filter" name="hBrand">U-flex</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Oppo" id='Oppo' class="filter" name="hBrand">Oppo</label>
        </div>



    </div>

    <div class="each-filter price-filter">
        <p class="filter-heading">Price Range</p>

        <div class="checkbox">
            <label><input type="checkbox" id='b01' class="pfilter" data-minprice="0"  data-maxprice="5000" name="price">Rs 0 - Rs 5K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"  id='b02' class="pfilter"data-minprice="50001"  data-maxprice="10000" name="price">Rs 5K - Rs 10K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"  id='b03' class="pfilter"data-minprice="10001"  data-maxprice="15000" name="price">Rs 10K - Rs 15K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id='b04' class="pfilter"data-minprice="15001"  data-maxprice="20000" name="price">Rs 15K - Rs 20K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"  id='b09' class="pfilter"
                   data-minprice="20001"  data-maxprice="25000" name="price">Rs 20K - Rs 25K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id='b010' class="pfilter"data-minprice="25001"  data-maxprice="30000" name="price">Rs 25K - Rs 30K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id='b011' class="pfilter"data-minprice="30001"  data-maxprice="35000" name="price">Rs 30K - Rs 35K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id='b012' class="pfilter"data-minprice="35001"  data-maxprice="40000" name="price">Rs 35K - Rs 40K</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id='b012' class="pfilter"data-minprice="40000"  data-maxprice="500000" name="price">RS 40K+</label>
        </div>
    </div>
    <div class="each-filter camera-filter">
        <p class="filter-heading">Microphone</p>

        <div class="checkbox">
            <label><input type="checkbox" value="With Microphone" id='With Microphone' class="filter"
                    name="hmicrophone">With Microphone</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="With out Microphone" id='With out Microphone' class="filter"
                    name="hmicrophone">With out Microphone</label>
        </div>
    </div>
    <div class="each-filter screen-filter">
        <p class="filter-heading">Connectivity Technology</p>

        <div class="checkbox">
            <label><input type="checkbox" value="BluetoothWireless" class="filter"
                    name="Hconnectivityfeatures">BluetoothWireless</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Wired-3.5 single pin" class="filter"
                    name="Hconnectivityfeatures">Wired-3.5 single pin</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Wiredusb" class="filter" name="Hconnectivityfeatures">Wiredusb
            </label>
        </div>
    </div>
    <div class="each-filter battery-filter">
        <p class="filter-heading">Features</p>

        <div class="checkbox">
            <label><input type="checkbox" value="On-ear" class="filter" name="hfeature"> On-ear</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="In-ear" class="filter" name="hfeature"> In-ear
            </label>
        </div>
    </div>
    <div class="each-filter processor-filter">
        <p class="filter-heading">Headset Interface</p>

        <div class="checkbox">
            <label><input type="checkbox" value="Doublejack" class="filter" name="hinterface"> Doublejack
            </label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="Bluetooth" class="filter" name="hinterface"> Bluetooth
            </label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="USB" class="filter" name="hinterface">USB
            </label>
        </div>
    </div>
</div>

<script>
     var filterText = true;
        $('.close-text').hide();
           
        function showFilter() {
            filterText = !filterText;
            $('.filter-list').toggle();
            if (!filterText) {
                $('.save-text').hide();
                $('.close-text').show();
            } else {
                $('.save-text').show();
                $('.close-text').hide();
            }


        }
</script>